
    <div class="container">
        <h1>Tela de Consulta</h1>
        <table class="table">
           <thead>
             &nbsp;
                    <tr>
                        <th scope="col">nome</th>
                        <th scope="col">endereco</th>
                        <th scope="col">bairro </th>
                        <th scope="col">cep </th>
                        <th scope="col">cidade</th>
                        <th scope="col">estado</th>
                    </tr>
                </thead>
                <tbody >
                {{#each post}}
                    {{#dataValues}}
                    <tr>
                        <td>{{nome}}</td>
                        <td>{{endereco}}</td>
                        <td>{{bairro}}</td>
                        <td>{{cep}}</td>
                        <td>{{cidade}}</td>
                        <td>{{estado}}</td>
                        <td>
                    <td>
                        <button class="btn btn-primary"><a href="/editar/{{id}}">Editar</a></button>
                        <button class="btn btn-danger"><a href="/excluir/{{id}}">Excluir</a></button>
                     </td>
                    </tr>
                    {{/dataValues}}
                {{/each}}
                </tbody>
            </table>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
