<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Consulta</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=tWXHBmOO3bcrm2sOGXAD9BhWEXgzhvYhPvpQ-lZXxwuLiC2_PkEvkCm-uRxwFLMIXzjcZJliQ8xYUIszo2DGVQiRKnWayDBs8LvHnPo3uZ8-sW1B4jmNoXCFliC4WVbN8K35Y4Dpb37401sXFwDO79KgNHrGtw_x2Qo0yMw4nhlsMF8HH6o_eD_J8UytUH6BLx5sLxlDUOvK0qOs0l3jRDj4M272-yHaFFaPHzjNsDkMSiA28io1B4mNa_pdAyQ7gdcpndYFZZU1hvlu_FJsbyDExcnyo1Wo8TQ2ulX4OxIZmihFw9RydnKH0OjWSsNV6V1GIQy9Sg-5E6Z83E-fiZRGtiN0756mdtHIb01szOH7QgUGEoYIMPLxya_fOCVAAtWYCUE0FCuhklNr06ivrwohmxspAmsUOa1iJWwqkM5ipst-ieqCfAs0EIglP8nTziLfvg4uwNnUJhxego1oFky7SdnRRgU9nlmP1DJYzs_2pC5ivd_Z7FtuHo_R292f81FxaCn_XEk-WpcR2zpCrBuU4jj6GIYMa5i1yc_PrVc_U9S3r_SLEHVsnMha6FdY29t6VrgliRrjrAukuTPuA0GHVgERjiiP5PUV5tjRBYFZKgDh3MVBbaV3sErr3X_VA5kK0RA95co531o4PauX4s_YbDWMFGTMNUyhA2hhyPB1kGEa1yOOLYmKRzqXQMP4mhonHsQARwxgJDWqcVhCr1CF2Gqg1vnbOVnaUdCEAuZmTy1JHAx-WcDC56C17bNr7xASSh17ba4X2_3wBAgdjHLdwDN8ZS4XbcQTyWmBniSQJMQ7SUO8qmbe2RqWPqOvgCiqWpipQFmGl1R5jJJdF5B3thUCUHWGLPjH0SkhHg6vSbRxrGlhIQhjeaUaw2zsLgQtbhRosnmn5TsdW31QR1EVBk-TNfzA2QD3iOTQoVTZrUepPX4qhzU138w2dzQejhVXQ56LtInlcO-afi4pXdDn3pUR7rsFKgwPXLaEad5e-gVrKTC0xzH_UNVkHvZCRFd5NSmznHc0aUhGoCKotQiSO9-UE0rz7HYVK-FlVfouZVtBEXj7LHtYwW_m4F2FtLO344SyWrOMQJZ6zbSoU65Rw1YI-2YbICXT2GUfpeK2fSPPMP_3SCcEOYIYOapy85FFLKxL8T8bZXdurHUI1JvKJNYofLPeZXmJ5e1RxSWkUNbPBnVUDDmJUH9vJeq3XsOE_limmMkbsTwd_BRqDdaBHRBswFB9Pj4dV_vabfJFqoAzUHyeyHzzx49M1p7FpbBwNNkJ7wmnucmyCkc1gfvuh9Wl0YgP39kf1_Q2udDCcCcgodTIGziqJ6gb0DPRTC4FDacwyKuBKj1m3dQSfQ3QfgS7AtQZvYoFOiP92mvEWHMyRMETXGT-ZPxAnvryaDAQ_e5n5qnNcPIGz917RUiBzg9kYF6o3jzNACKPE5vwAHL1opUmKwvTJ6pR7fqPLH7dwyAtggTl7t4QMYlbPsMznXM1rsulRBH_pnwp4-iSKeDH-AxZP5Z1lLb0F-Wm9G8ofbHHyCVBFrW11PzX_eGAB7jwCIpbKUCwa-_ctu3C_ocx58L0Zpv3UEF3xv6yVquYQkKfBqzSZl1AeOtYp2CcTJnZdSdIfJPuMdt3h3b4mjFohL_9NnwIM5lQx-b87eUN2Bv0OlwIsykMqlU-l0Mj8bFtOBb9HqEssC0NX5CywjhDNZx2xfZb9Lf14TwPSXKQIcRYTLl0qLRftediZEn_IqM-PBwUQ1jnVXntU9MfxHxWgLVMAahZhFeg6nnjqXqYVnnx2yNE2lr_ulW2uXHcK0aKOduar8XTc6gO1z8" charset="UTF-8"></script></head>
<body>
    <div class="container">
        <h1>Tela de Consulta</h1>
        <table class="table">
           <thead>
                    <tr>
                        <th scope="col">Produto</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Modelo </th>
                        <th scope="col">Descrição</th>
                        <th scope="col">Palavras Chaves</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody >
                {{#each post}}
                    {{#dataValues}}
                    <tr>
                        <td>{{produto}}</td>
                        <td>{{marca}}</td>
                        <td>{{modelo}}</td>
                        <td>{{descricao}}</td>
                        <td>{{palavraschaves}}</td>
                        <td>
                    <td>
                        <button class="btn btn-primary"><a href="/editar/{{id}}">Editar</a></button>
                        <button class="btn btn-danger"><a href="/excluir/{{id}}">Excluir</a></button>
                     </td>
                    </tr>
                    {{/dataValues}}
                {{/each}}
                </tbody>
            </table>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>